.ctamodal{
    text-align: center;
    margin-top: 13rem;

.ctabtn{
width: 10rem;
height: 2rem;

background: #01AAE4;

border-radius: 8px;}

.playstore{
background: gradient(163.58deg, #19A3B4 -19.92%, #5BC3AF 17.22%, #C8F7A6 78.46%, #D7FEA5 86.75%);;
}

.ctamodal a{
color:#FA6866;
text-decoration: none;
}

input[type=text] {
width: 12rem;
height: 1.5rem;
border-radius: 0.3rem;

}

::placeholder{
padding-left: 0.5rem;
}



}

.grid{
    display:flex;
    margin-left: 32rem;
margin-top:15rem;


.gridp{
    text-align:center;
    margin-top:2rem;
}

.ctamodal2{
    text-align: center;
    margin-top: 13rem;
    
 
      .ctabtn{
      width: 13rem;
      height: 2.3rem;
   margin-top: 2rem;
      background: #01AAE4;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;}

}


.subnavbarsection{



.container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
      margin: 5rem;
      
      overflow: hidden;
     
}

 .subnav{
  justify-self:flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
 color: skyblue;
}

 ul li{
  list-style: none;
  padding: 0 1rem;

 
}
.deals{
    border-right: 0.5px solid grey;
  }
}

.feat{
  text-align: center;
.featp{ margin-right:21rem;}
  h3{
      margin-right:15rem;
  }

  p{
      margin-top: 1rem;
  }
}

  .feat2{
      margin-top: 5rem;
   text-align: center;
  }
