.section-footer{
padding: 4rem 0;


.container{
    @include conTain();
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-gap:1rem;
}

.footer-image{
    margin-bottom: 6rem;
}
.contain1{
    width: 40vw;

   
}




p{
    margin-bottom: 1rem;
}

ul li{
    margin-bottom: 0.5rem;
}
a > i{
    margin-right: 2rem;
    margin-top: 5rem;
    color:$darkGrey;
}

.hoopper{
    border-bottom: 2px solid black;
}

.supporticon{
    @include supportIcon();
}
}