$coral: #FA6866;
$lightGrey: #AAAAAA;
$lighterGrey: #D9D9D9;
$skyBlue: #01AAE4;
$darkGrey: #505050;
$midGrey: #878787;
$lightestGrey:#F6F6F6;
$white: #FFFFFF;
$alertState:#5A7F8C;
$alertRed: #DF374B;
$timeWrap:#A57FD3;
$calenderOrange:#E36624;
$alertGreen:#63B67F;
$alertYellow:#D99422;
$calenderGreen:#6FC28B;;
$calenderYellow: #F0A02A;