$coral: #FA6866;
$lightgrey: #AAAAAA;
$lightergrey: #D9D9D9;
$skyblue: #01AAE4;
$darkgrey: #505050;
$midgrey: #878787;
$lightestgrey:#F6F6F6;
$white: #FFFFFF;
$alertstate:#5A7F8C;
$alertred: #DF374B;
$timewrap:#A57FD3;
$calenderorange:#E36624;
$alertgreen:#63B67F;
$alertyellow:#D99422;
$calendergreen:#6FC28B;;
$calenderyellow: #F0A02A;